@model List<NOSQL_Read_Project.ReadModel.UsersReadModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home-nav">
  <ul>
     
      <li>@Html.ActionLink("Manage Users", "Admin")</li>
  </ul>  
</div>

